.chat-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: calc(100vh - 200px);
    animation: fadeIn 0.5s ease-in-out;
}

.chat-body {
/* min-height: 200px;
max-height: 300px; */
height: calc(100% - 50px);
overflow-y: auto;
animation: slideInUp 0.5s ease-in-out;
}

.chat-card .list-group-item {
border: none;
font-size: 16px;
line-height: 1.4;
padding: 10px 20px;
}

.chat-card .list-group-item.text-end {
text-align: right;
}

.chat-card .dropdown-toggle {
background-color: var(--lightgrey-color);
border-color: 1px solid var(--darkgrey-color);
color: var(--darkgrey-color);
font-size: 14px;
font-weight: 500;
}

.chat-card .dropdown-menu {
background-color:var(--lightgrey-color);
border: none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-card .dropdown-item {
font-size: 14px;
font-weight: 500;
line-height: 1.4;
padding: 6px 12px;
}

.chat-card .dropdown-item:hover {
background-color: #f1f1f1;
}

.chat-card .form-control {
border-color: #f1f1f1;
box-shadow: none;
font-size: 16px;
height: 48px;
}

.chat-card .chat-send-btn {
background-color: var(--accent-color);
border-color: var(--accent-color);
color: #fff;
font-size: 16px;
font-weight: 500;
height: 48px;
}

.chat-card .chat-send-btn:hover {
background-color:var(--hover-color);
border-color: var(--hover-color);
}

.chat-feedback {
background-color: var(--accent-color);
border-radius: 12px;
margin-top: 10px;
padding: 10px 20px;
}

.chat-empty-state {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: calc(100% - 200px);
color: #6c757d;
font-size: 1.2rem;
font-weight: 500;
text-align: center;
padding: 50px;
}
.chat-footer {
animation: slideInUp 0.5s ease-in-out;
}

.user-message {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 70%;
    align-self: flex-end;
}

.bot-message {
    background-color: #fff;
    color: var(--secondary-color);
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 70%;
    align-self: flex-start;
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 22px;

}
.list-group-item.user {
    background-color: var(--extralightgrey-color);
    border: 1px solid  var(--lightgrey-color);
    margin-left: 30%;
    border-radius: 20px !important;
}

.list-group-item.user.unread {
    border: 1px solid var(--primary-color);
}

.list-group-item.bot {
background-color: var(--lt-color-gray-600);
color: var(--lt-color-text-very-light);
border: 1px solid var(--primary-color);
margin-right: 30%;
border-radius: 20px !important;
}

.list-group-item.bot.unread {
    border:  1px solid var(--accent-color);
}
.list-group-item .user-name {
    font-weight: bold;
}

.list-group-item .bot-name {
    font-style: italic;
}
@keyframes fadeIn {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes slideInUp {
from {
    transform: translateY(10%);
}
to {
    transform: translateY(0);
}
}

.dropdown-menu-custom {
    max-height: 200px;
    overflow-y: auto;
}
.dropdown-container {
    position: relative;
    z-index: 1050;
}
.user-message {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

